<template>
  <validation-provider :name="label" class="input-field" tag="div" :rules="rules" v-slot="{ errors }">
      <input type="number"
      :class="{invalid: !!errors.length}"
      :value.number="value"
      @input="updateInput($event.target.value)"/>
      <label for="name" class="active">{{ label }}</label>
      <ErrorForm v-if="!!errors.length" :error="errors" />
  </validation-provider>
</template>

<script>
import ErrorForm from "@/components/common/error/Error"
export default {
  name: 'input-numeric',
  components: {
    ErrorForm
  },
  model: {
    event: 'change'
  },
  props: {
    label: {
      type: String,
      required: true
    },
    value: {
      type: Number,
      default: 0
    },
    rules: {
      type: String
    }
  },
  methods: {
    updateInput(value) {
      const inputValue = parseInt(value);
      if (Number.isInteger(inputValue)) {
        this.$emit('change', parseInt(inputValue))
      }
    }
  }
}
</script>
