<template>
  <div class="file-field input-field">
      <img v-if="value || file" class="profile-image" :src="value || file" width="100" height="100" />
    <div class="btn">
      <span>Файл</span>
      <input type="file"  @change="onFileChange">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
</template>

<script>
export default {
  name: 'input-file',
  data: () => ({
    file: ''
  }),
  model: {
    event: 'change'
  },
  props: {
    label: {
      type: String,
      required: true
    },
    value: {
      type: String
    }
  },
  methods: {
    onFileChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return
        }
        this.createImage(files[0])
      },
    createImage(file) {
      var reader = new FileReader()
      var vm = this

      reader.onload = (e) => {
        this.file = e.target.result;
        this.$emit('change', e.target.result)
      }
      reader.readAsDataURL(file)
    },
   removeImage: function (e) {
     this.userImage = ''
   }
  }
}
</script>
