<template>
  <validation-provider :name="label" class="input-field" tag="div" :rules="rules" v-slot="{ errors }">
    <input type="text"
    :class="{invalid: !!errors.length}"
    :value="value"
    @input="updateInput($event.target.value)"/>
    <label class="active">{{ label }}</label>
    <ErrorForm v-if="!!errors.length" :error="errors" />
  </validation-provider>
</template>

<script>
import ErrorForm from "@/components/common/error/Error"
export default {
  name: 'input-string',
  components: {
    ErrorForm
  },
  model: {
    event: 'change'
  },
  props: {
    label: {
      type: String,
      required: true
    },
    idLabel: {
      type: String
    },
    value: {
      type: String
    },
    rules: {
      type: String
    }
  },
  methods: {
    updateInput(value) {
      this.$emit('change', value)
    }
  }
}
</script>
