<template>
  <validation-provider :name="label" class="input-field" tag="div" :rules="rules" v-slot="{ errors }">
    <input ref="datepicker" type="text"
    :class="{invalid: !!errors.length}"
    :value="value"
    @change="updateInput($event.target.value)"/>
    <label class="active">{{ label }}</label>
    <ErrorForm v-if="!!errors.length" :error="errors" />
  </validation-provider>
</template>

<script>
import ErrorForm from "@/components/common/error/Error"
export default {
  name: 'input-date',
  components: {
    ErrorForm
  },
  model: {
    event: 'change'
  },
  props: {
    label: {
      type: String,
      required: true
    },
    value: {
      type: String
    },
    format: {
      type: String
    },
    rules: {
      type: String
    }
  },
  mounted() {
    const options = {
      format: this.format || 'dd.mm.yyyy',
      selectYears: false,
      selectMonths: false,
    };
    M.Datepicker.init(this.$refs.datepicker, options);
  },
  methods: {
    updateInput(value) {
      this.$emit('change', value)
    }
  }
}
</script>
