<template>
  <div class="col s12 m6">
      <div class="page-subtitle">
        <h4>{{isEditable ? "Изменить" : "Добавить"}} книгу</h4>
      </div>
      <ValidationObserver
       tag="form"
        ref="observer"
         v-slot="{ invalid }"
          @submit.prevent="submitForm">

        <inputString v-model="title"
         label="Заголовок"
         rules="required|max-length:30"
        />
        <inputString v-model="nameAuthor"
         label="Имя автора"
         rules="required|max-length:20"
        />
        <inputString v-model="surnameAuthor"
         label="Фамилия автора"
         rules="required|max-length:20"
        />
        <inputNumeric v-model="pageNumber"
         label="Количество страниц"
         rules="required|between:1,10000|numeric"
        />
        <inputString v-model="namePublish"
         label="Название издательства"
         rules="max-length:30"
        />
        <inputNumeric v-model="yearPublish"
         label="Год публикации"
         rules="min:1800|max-length:4|numeric"
        />
        <inputDate v-model="startSale"
         label="Дата выхода в тираж"
         rules="minDate:01.01.1800"
        />
        <inputImage v-model="picture"
         label="Файл"
        />

        <button class="btn waves-effect waves-light" type="submit">
          {{isEditable ? 'Сохранить': 'Создать'}}
          <i class="material-icons right">send</i>
        </button>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import {inputString, inputNumeric, inputDate, inputImage} from "@/components/common/form"
import "@/components/common/validation"
import messages from "@/utils/messages"
import {generateId} from "@/utils/generator";
export default {
  name: "books-form",
  components: {
    inputString, inputNumeric, inputDate, inputImage
  },
  data: () => ({
    isEditable: false,
    id: '',
    title: '',
    nameAuthor: '',
    surnameAuthor: '',
    pageNumber: 0,
    namePublish: '',
    yearPublish: 1800,
    startSale: '01.01.1800',
    picture: ''
  }),
  async mounted() {
    this.id = this.$route.params.id;
    if (this.id) {
      this.isEditable = true;
      const books = await this.$store.dispatch("getBookById", this.id);
      this.title = books.title;
      this.nameAuthor = books.nameAuthor;
      this.surnameAuthor = books.surnameAuthor;
      this.pageNumber = books.pageNumber;
      this.namePublish = books.namePublish;
      this.yearPublish = books.yearPublish;
      this.startSale = books.startSale;
      this.picture = books.picture
    }
  },
  methods: {
     async  submitForm() {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        return
      }
      const dataForm = {
        id: this.id || generateId(),
        title: this.title,
        nameAuthor: this.nameAuthor,
        surnameAuthor: this.surnameAuthor,
        pageNumber: this.pageNumber,
        namePublish: this.namePublish,
        yearPublish: this.yearPublish,
        startSale: this.startSale,
        picture: this.picture
      }
      this.$message(this.isEditable ? messages['edit'] : messages['add']);
      this.$store.dispatch(this.isEditable ? "editBook" : "addBook", dataForm);
      this.$router.push("/")
    }
  }
};
</script>
