<template >
<tr>
  <td>{{ index + 1 }}</td>
  <td>{{ book.title }}</td>
  <td>{{ book.nameAuthor }}</td>
  <td>{{ book.surnameAuthor }}</td>
  <td>{{ book.pageNumber }}</td>
  <td>{{ book.namePublish }}</td>
  <td>{{ book.yearPublish }}</td>
  <td>{{ book.startSale }}</td>
  <td><img :src="book.picture || 'https://images.eksmo.ru/upload/iblock/041/books_720_min_min.jpg'" :alt="book.title" width="100" height="100"></td>
  <td @click.prevent="$emit('editItem')">
    <a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">edit</i></a>
  </td>
  <td @click.prevent="$emit('removeItem')">
    <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
  </td>
</tr>
</template>

<script>
export default {
  props: ['index', 'book']
}
</script>
