<template>
  <section>
    <div class="page-title">
      <h3>Список книг</h3>
    </div>
    <table v-if="emptyBook">
      <thead>
        <tr>
          <th>№</th>
          <th v-column-sortable:title>Заголовок</th>
          <th>Имя автора</th>
          <th>Фамилия автораа</th>
          <th>Количество страниц</th>
          <th>Название издательства</th>
          <th v-column-sortable:yearPublish>Год публикаци</th>
          <th >Дата выхода в тира</th>
          <th>Изображени</th>
        </tr>
      </thead>
      <tbody>
          <BooksRow
            v-for="(book, index) in books"
            :book="book"
            :index="index"
            :key="index"
            v-on:editItem="editBook(book)"
            v-on:removeItem="removeBook(book)"/>
      </tbody>

    </table>
    <h1 v-else>Книги не обнаружены!</h1>
  </section>
</template>

<script>
import BooksRow from "@/components/app/books/BooksRow"
import messages from "@/utils/messages"
import columnSortable from 'vue-column-sortable'

export default {
  data: () => ({
    books: []
  }),
  components: {
     BooksRow
  },
  directives: {columnSortable},
  async mounted() {
    this.books = await this.$store.dispatch("getBooks");
  },
  computed: {
   emptyBook() {
     return this.books && this.books.length;
   }
  },
  methods: {
   async removeBook(book) {
     await this.$store.dispatch("removeBook", book);
     this.$message(messages['delete']);
     this.books = await this.$store.dispatch("getBooks");
   },

   editBook(book) {
     this.$router.push(`/edit-book/${book.id}`)
   },
   orderBy(sortFn) {
        this.books.sort(sortFn);
    }
  }
}
</script>


<style lang="css">
  .header__column {
    cursor: pointer;
  }
</style>
