<template>
    <section>
        <div class="row">
            <BookForm/>
        </div>
    </section>
</template>
<script>
    import BookForm from '@/components/app/books/BooksForm'

    export default {
        name: "book-view",
        components: {
            BookForm
        }
    }
</script>
