<template>
    <div>
        <BooksTable/>
    </div>
</template>
<script>
    import BooksTable from '@/components/app/books/BooksTable'

    export default {
        name: "list-books",
        components: {
            BooksTable
        }
    };
</script>
