<template id="">
  <nav class="navbar orange lighten-1">
    <div class="nav-wrapper">
      <div class="navbar-left">
        <span class="black-text">{{ date | date("datetime") }}</span>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  data: () => ({
    date: new Date()
  }),
  mounted() {
    this.interval = setInterval(() => {
      (this.date = new Date()), 1000;
    });
  },
  beforeDestroy() {
    clearInterval(this.interval);
    if (this.dropdown && this.dropdown.destroy) {
      this.dropdown.destroy();
    }
  }
};
</script>
