<template>
    <div id="app">
        <MainLayout/>
    </div>
</template>

<script>
    import MainLayout from "@/layouts/MainLayout";

    export default {
        components: {
            MainLayout
        }
    };
</script>

<style lang="scss">
    @import "~materialize-css/dist/css/materialize.min.css";
    @import "assets/index.css";
    @import '~vue-material/dist/vue-material.min.css';
</style>
