<template>
    <div>
        <div else-if class="app-main-layout">
            <navbar/>
            <main class="app-content full">
                <div class="app-page">
                    <Loader v-if="loading"/>
                    <router-view/>
                </div>
            </main>

            <div class="fixed-action-btn">
                <router-link class="btn-floating btn-large blue" to="/edit-book">
                    <i class="large material-icons">add</i>
                </router-link>
            </div>
        </div>
    </div>

</template>
<script>
    import Navbar from "@/components/common/navbar/Navbar"
    import {mapGetters} from 'vuex'

    export default {
        name: "main-layout",
        components: {
            Navbar
        },
        computed: {
            ...mapGetters(['loading'])
        }
    };
</script>
